<ul class="nav navbar-nav navbar-right">
	<li class="PT_signUpView" style="display: none;"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	<li class="PT_LoginView" style="display: none;"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	<li class="PT_UserName"><a href="#">devi</a></li>
	<li class="PT_GridView">
		<a href="#grid" data-toggle="myApps" data-placement="bottom" data-container="body" data-content="fdfd" class="PT_GridPopover" data-original-title="" title=""><img src="/Content/Images/layoutimgs/Grid.svg" class="GridImg"></a>
	</li>
	<li class="PT_MyaccountView">
		<a href="#myaccount" data-toggle="myAccount" data-placement="bottom" data-container="body" data-content="fddf " class="PT_myAccountPopover" data-original-title="" title=""><img src="/Content/Images/layoutimgs/person-flat.png" class="PT_usreimg"></a>
	</li>
</ul>
