<div id="app-content">
  </div>
  <div class="seperator"> </div>
  <div class="container-fluid signup-form subscribe">
      <div id="msg-div" style="margin-top:10px;">
          <div id="success-msg-div">
              <div class="alert alert-success">
                  <strong id="success-msg">Welcome to the Connate Construction Community.</strong>
              </div>
          </div>
          <!-- <div id="Fail-msg-div" style="display:inline;">
              <div class="alert alert-danger">
                  <strong id="Fail-msg">The User Name may not be empty, please select a User Name and try again.</strong>
              </div>
          </div>
      </div> -->
      <div id="signup-steps" style="margin:auto;">
   <div class="container-fluid" >
    <div class="row">
      <div class="col-lg-5">
           <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
              <h4>Account Setup</h4>
              <h6>Your account has been succesfully set up. Now you just need to decide if you want to proceed with a Free Membership, or if you want to become a Full Member.</h6>
          </div>
          </div>
          <div class="col-lg-4">
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
               <h4>Free Membership</h4>
               <h6>As a free member you can only subscribe to free apps or apps that have been delegated to you by other paying members.</h6>
               <button (click)="GoToFreeMembership()" type="button" class="btn btn-primary">Free Membership</button>
               </div>
           </div>
           <div class="col-lg-3">
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
              <h4>Full Membership</h4>
              <h6>As a Full member you can subscribe to any app in the store and enjoy many other connate benefits.</h6>
              <button (click)="GoToFullMembership()" type="button" class="btn btn-primary">Full Membership</button>
           </div>
           </div>
          </div>

  </div>

  </div>


