<div class="container-fluid img" id="backgroundchange">
   <img src="assets/backgroundlogin2.jpg" style="width: 100%; opacity: 0.6;">

  <!-- <div id="header">
  <nav class="navbar navbar-default headerstyel" style="z-index:1000;min-height:60px;">
<div class="">
<div class="col-sm-2">
  <div class="navbar-header">
      <a class="navbar-brand" href="/"><span>Connate</span></a>
  </div>
</div>
<div class="col-sm-10">
</div>
</div>
</nav>
</div> -->
<div id="loginimg">

		<div  class="container">
			<div  class="row">

					<div  class="container col-sm-12 col-lg-12 col-md-12 col-xs-12 col-xl-12" style="margin: auto">
						<div  class="Login-Form">
							<header>
								<h2>Log in</h2>
								<p id="domain-url"></p>
							</header>
							<div  class="form-login">
								<div class="form-group">
									<label for="usrname"><span class="glyphicon glyphicon-user"></span> Email Id</label>
									<input  type="text" id="usrname" placeholder="Enter Email" class="form-control">
									<input type="hidden" id="domainToLogin" class="form-control">
								</div>
								<div class="form-group">
									<label for="psw"><span  class="glyphicon glyphicon-eye-open"></span> Password</label>
									<input type="password" id="psw" placeholder="Enter password" class="form-control">
								</div>
								<div class="form-group margin-B-0 loginUser-div" style="max-height: 40px !important;">
									<button  id="loginUser" data-style="zoom-in" class="btn btn-primary btn-block ladda-button" style="width: 100% !important; float: right;">
										<div  class="loginmsgs">
											<div  class="loginPreloader loaderIcon" style="display: none; float: left; margin-left: 4px; width: 10%;"><img _ngcontent-jkw-c17="" src="/Content/images/preloader-trans.gif" style="width: 12px !important; height: 12px;"></div>
											<div class="displaymsg"><span id="success-msg" class="ladda-label">Login</span></div>
										</div>
									</button>
								</div>
								<div class="checkbox">
									<label >
										<input type="checkbox" value=""> Keep me logged in</label>
								</div>
								<div  id="fail-msg-div" class="alert alert-danger alert-dismissable" style="display: none; text-align: center;">
									<button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button><span _ngcontent-jkw-c17="" id="fail-msg"></span></div>
							</div>
							<div  class="form-helper">
                <a href="javascript:void(0)" (click)="GoToforgotpassword()" class="float-right">Forgot Password?</a>
              </div>
							<div  class="form-helper">
                <a  href="javascript:void(0)" (click)="GoToCreateAccount()"> Create an Account</a>
              </div>
						</div>
					</div>
				</div>
			</div>
		</div>






